.detalhes-livro-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
}

.detalhes-livro-body {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}

.detalhes-livro-img {
    width: 400px;
}

.detalhes-livro-img img {
    width: 100%;
    height: auto;
    display: block;
}

.detalhes-livro-texto {
    flex: 1; 
}

.status-disponivel {
    color: #3cb878;
    font-weight: bold;
}

.status-indisponivel {
    color: #e74c3c;
    font-weight: bold;
}

.btn-voltar {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #3cb878;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Apenas para detalhe de livro indisponível */
.lista-espera{
    display: flex;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #ffd458;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 35%;
    padding: 1rem;
}

@media (max-width: 768px) {
    .detalhes-livro-body {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .detalhes-livro-img {
        flex: none;
        width: 150px;
    }
}

/* Para detalhe de livro disponível */
.carrinho {
    display: flex;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #ffd458;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 35%;
    padding: 1rem;
}

