.contato-container {
    display: flex;
    flex-direction: column;
    background-color: #405a49; 
    color: #e8e4d8;           
    padding: 60px 40px;
    margin: 50px auto;        
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contato-container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contato-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.contato-container a{
    text-decoration: none;
    color: #e8e4d8;
    font-size: 1.2rem;
}

.contato-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
}
