{% extends 'biblioteca/base.html' %}
{% load static %}

{% block title %}{{ livro.titulo }} - Biblioteca{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'biblioteca/css/detalhesLivroStyle.css' %}">

<div class="detalhes-livro-container">
    <div class="detalhes-livro-body">
        <div class="detalhes-livro-img">
            {% if livro.disponivel %}
                <img src="{% static 'biblioteca/img/disponivel.png' %}" alt="Disponível" class="capa-detalhes-livro">
            {% else %}
                <img src="{% static 'biblioteca/img/indisponivel.png' %}" alt="Indisponível" class="capa-detalhes-livro">
            {% endif %}
        </div>

        <div class="detalhes-livro-texto">
            {% if livro.disponivel %}
                <p class="status-disponivel">Disponível</p>
            {% else %}
                <p class="status-indisponivel">Indisponível</p>
            {% endif %}
            <h1>{{ livro.titulo }}</h1>
            <p><strong>Categoria:</strong> {{ livro.get_categoria_display }}</p>
            {% if livro.disponivel %}
                <!-- Espaço para livro disponível -->
            {% else %}
                <p class="lista-espera">Increva-se na lista de espera</p>
                <p>*Este livro está fora da estante neste momento, mas você pode entrar na lista de espera e ser um dos primeiros a pegá-lo quando estiver disponível novamente. <strong>Clique no botão acima para aguardar.</strong></p>
            {% endif %}

            <a href="javascript:history.back()" class="btn-voltar">← Voltar</a>
        </div>
    </div>
</div>
{% endblock %}
