{% extends 'biblioteca/base.html' %}
{% load static %}

{% block title %}Bem-vindo à Biblioteca{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'biblioteca/css/telaInicialStyle.css' %}">

    <div class="welcome">
        <h1 class="title-cursive">Biblioteca</h1>
        <h2>Sua jornada pelo conhecimento começa aqui.</h2>
        <p>Faça login para explorar nosso acervo e descobrir um mundo de possibilidades.</p>
        
        <a href="{% url 'telaLogin' %}" class="login-button">Login</a>
    </div>

{% endblock %}