{% extends 'biblioteca/base.html' %}
{% load static %}

{% block title %}Áreas de Interesse{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'biblioteca/css/telaAreaInteresseStyle.css' %}">

<div class="interesse-container">
    <h1>Escolha sua Área de Interesse</h1>

    <div class="interesse-grid">
        <a href="{% url 'telaLivros' %}" class="interesse-card">Tecnologia da Informação</a>
        <a href="{% url 'telaLivros' %}" class="interesse-card">Humanas</a>
        <a href="{% url 'telaLivros' %}" class="interesse-card">Ficção Científica / Romance</a>
        <a href="{% url 'telaLivros' %}" class="interesse-card">Saúde</a>
        <a href="{% url 'telaLivros' %}" class="interesse-card">Biológicas</a>
        <a href="{% url 'telaLivros' %}" class="interesse-card">Exatas</a>
    </div>
</div>

{% endblock %}